Xft.dpi:            96
Xft.antialias:      true
Xft.autohint:       false
Xft.hinting:        true
Xft.hintstyle:      hintslight
Xft.lcdfilter:      lcddefault
Xft.rgba:           rgb
Xft.embeddedbitmap: false

URxvt.termName: xterm-256color

!! Root(置底),OverTheSpot(跟随)
Rxvt.preeditType: OverTheSpot

!! 字体设置
URxvt*font: xft:Hack Nerd Font Mono:antialias=true:size=9,xft:Noto Sans Mono CJK SC:antialias=true:size=9

!! 关闭iso14755, 让Ctrl+Shift能正常工作
URxvt.iso14755:    false
URxvt.iso14755_52: false

!! 滚动条设置
URxvt.scrollBar:       false
URxvt*scrollBar_right: false

!! 光标设置
URxvt*cursorUnderline: true
URxvt*cursorBlink:     true

!! 颜色设置
URxvt*depth: 32
URxvt.background: [85]#323742

*.foreground:   #EFF0EB
*.background:   #323742
*.cursorColor:  #9AEDFE

*.color0:      #2E3436
*.color8:      #555753
*.color1:      #CC0000
*.color9:      #EF2929
*.color2:      #4E9A06
*.color10:     #8AE234
*.color3:      #C4A000
*.color11:     #FCE94F
*.color4:      #3465A4
*.color12:     #729FCF
*.color5:      #75507B
*.color13:     #AD7FA8
*.color6:      #06989A
*.color14:     #34E2E2
*.color7:      #D3D7CF
*.color15:     #EEEEEC

URxvt.perl-ext-common: default,matcher,clipboard,font-size
URxvt.url-launcher:    xdg-open
URxvt.matcher.button:  1

URxvt*keysym.Control-Shift-C: perl:clipboard:copy
URxvt*keysym.Control-Shift-V: perl:clipboard:paste

URxvt.font-size.step:  1
URxvt.keysym.Control-Up:     font-size:increase
URxvt.keysym.Control-Down:   font-size:decrease
URxvt.keysym.Control-equal:  font-size:reset
